body {
    font-family: 'Poppins', sans-serif;
}

.experienceTitle {
    text-align: center;
    color: #024398;

}

.experienceContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #024398;
    margin: 2rem auto;
    padding: 2rem;
    width: 90%;
    max-width: 800px;
    border-radius: 10px;
}


h2 {
    color: white;
}

li {
    color: white;
}